body {
 padding-top: 300px;
}

#test {

  position: fixed;
  background: url(../images/flare.png) no-repeat;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 200px;

}

.top{

  background-color: white;
  height: 300px;
  width: 100%;
  padding-top: 40px;
  position: fixed;
  top: 0px;

}

.wideNav {

  padding: 0px;
}

li:hover {

  background-color: black;
  margin-top: 0px;
}

.wideButton {

  padding: 20px;
}

.main-image {

  height: 350px;
  background-repeat: repeat-x;
  background-size: cover;
}
 
.aboutArea {

  background:url(../images/bg-0.jpeg);
  /*Add Position Fixed*/
  padding: 100px 50px 50px;
  position: relative;
  height: 650px;
  background-size: cover;
}

.projectArea {

  background:url(../images/bg-2.jpeg);
  padding: 100px 50px 50px;
  /*Add Position Fixed*/
  position: relative;
  height: 650px;
  background-size: cover;
}

.contactArea {

  background:url(../images/bg-3.jpeg);
  padding: 100px 50px 50px;
  position: relative;
  /*Add Position Fixed*/
  height: 650px;
  background-size: cover;
}

.nav-wrapper {

  z-index: 400;
  height: 80px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  margin-bottom: -80px;
  background-color: black;
  position: relative;
}

.nav-scrolled {

  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 500;
 
}

h3 {

  color: white;
  text-align: center;
  padding: 20px;
}